<!DOCTYPE html>

{% load static %}

<html>
<div align="center">
    <head>
        <title>Andrew & Jeremy's Home Page.</title>
    </head>

    <body>
        <h1>Welcome to this website.</h1>
        HOLY SHIT WE DISPLAYED SOMETHING! KIBAAAA <strong>{{ boldmessage }}</strong><br />
        <a href="/testapp/about/">About</a>   
        <a href="/testapp/register/">Sign-Up</a>
	<a href="/testapp/login/">Login</a>
	<img src="{% static "kiba.jpg" %}" alt="Picture of KIBA!" /><br /> 
   	{% if list %}
		<u1l>
		    {% for list in list %}
		    <li>{{list.fname}}  {{list.lname}}  {{list.email}}  {{list.passwd}}</li>
		    {% endfor %} 
		</ul>
	{% else %}
		<strong> There are no categories. </strong>
	{% endif %}
<br><br><br>
	
    </body>
</div>
</html>
